<div class="row">
  <div class="col-md-12 cart">
    <h3>
      <strong>Added to Cart</strong>
    </h3>
    <div *ngFor="let item of cartItems">
      <app-cart-item [cartItem]="item"></app-cart-item>
    </div>
    <mat-divider></mat-divider>
    <p class="total">
      <span class="cart-item-name">
        <strong>Total</strong>
      </span>
      <span class="cart-item-price">{{ cartTotal }}</span>
    </p>
    <button
      mat-raised-button
      color="primary"
      class="buy-btn"
      (click)="processTransaction()"
    >
      Buy
    </button>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12 cart">
    <h3>
      <strong>Added to Cart</strong>
    </h3>
    <mat-list role="list" *ngFor="let item of cartItems">
      <app-cart-item [cartItem]="item"></app-cart-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <span class="cart-item-name">
          <strong>Total</strong>
        </span>
        <span class="cart-item-price">{{ cartTotal }}</span>
      </mat-list-item>
    </mat-list>
    <button
      mat-raised-button
      color="primary"
      class="buy-btn"
      [disabled]="cartItems.length <= 0"
      (click)="processTransaction()"
    >
      Buy
    </button>
  </div>
</div> -->
